*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    padding: 60px 0;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    width: 100%;
    height: 800px;
    background: #373B44;  
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    background:rgba(42, 64, 118, 0.7);;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}

.text-header{
    display: flex;
    height: 385px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 260px
}

.text-header h1{
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.text-header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    padding-bottom: 0px;
}

.text-header button{ 
    color: #2e5fd1;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 30px;
}
.wave-one{
    background: url(../img/wave.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.title-into-wave{
    color: #fff;
    font-size: 65px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.wave-one p{
    color: #fff;
    text-align: center;
    font-size: 22px;
    width: 55%;
    margin: auto;
}

main{
    background: #1c4caa;
}
.cards .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;  
}
.content-text-card{
    width: 60%;
    color:#fff;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: space-evenly;
}


.laboratory-uatf{
    background-color: #fff;
    height: 350px;  
}
.laboratory{
    display: flex;
    justify-content: space-evenly;
}
.image-laboratory{
    width: 350PX;
    height: 350px;
    border-radius:50%;
}
.title{
    width: 50%;
    color: #1c4caa;
    font-size: 55px;
    text-align: center;
    padding: 10px 2px 0px 95px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.content-text p{
    color: #1c4caa;
    padding: 10px 2px 50px 95px;
    text-align: justify;
    font-weight: 300px;
    font-size: 20px;
    width: 100%;
}
.laboratory-uatf button{ 
    background-color: #1c4caa;
    color: #fff;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 10px;
}
.wave2{
    background-color: #fff;
    height: 195px;
}
.wave-two{
    background: url(../img/wave1.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.title-into-wave2{
    color: #fff;
    font-size: 65px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.container-estadisticas{
    background-color: #1c4caa;
    height: 700px;
}
.conten p{
    color: #fff;
    text-align: center;
    font-size: 22px;
    width: 55%;
    margin: auto;
    flex-direction: column;
}
.estadisticas{
    display: flex;
    justify-content: space-evenly;
}

#circulo{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    display: block;  
    background-color: #1c4caa;
    border: 3px solid #fff;
 }
 h2{
    text-align: center;
    font-family: sans-serif;
	color: #fff;
    font-size: 82px;
    padding-top: 12%;
    font-weight: bold;
 }
 
.container-ciudadela{
    background-color: #fff;
    height: 600px;  
}
.ciudadela-univ{
    display: flex;
    justify-content: space-evenly;
}
.image-ciudadela{
    width: 350PX;
    height: 320px;
    border-radius:50%;
    float: right;
}
.title-ciudadela{
    width: 50%;
    color: #1c4caa;
    font-size: 55px;
    text-align: center;
    padding: 10px 2px 0px 95px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.content-ciudadela p{
    color: #1c4caa;
    padding: 10px 2px 50px 95px;
    text-align: justify;
    font-weight: 300px;
    font-size: 20px;
    width: 100%;
}
.container-ciudadela button{ 
    background-color: #1c4caa;
    color: #fff;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 10px;
}

.phoebe-frazier{
    width: 100%;
    height: 600px;
    background: #373B44;  
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/uatf.jpg);
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/uatf.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.text-phoebe{
    display: flex;
    height: 385px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}
.image-phoebe{
    width: 200PX;
    height: 200px;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    
}
.text-phoebe h2{
    color: #fff;
    font-size: 45px;
    text-align: center;
    padding-top: 0%;
    margin:auto;
    text-transform: uppercase;
}

.text-phoebe p {
    color: #fff;
    text-align: center;
    font-size: 22px;
    width: 55%;
    margin: auto;
}
.container-contactos{
    background-color: #fff;
    height: 350px;
}
.contactos-UATF{
    background: url(../img/wave2.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}
.contactos h2{
    color: #1c4caa;
    font-size: 65px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.contactos p{
    color: #1c4caa;
    text-align: center;
    font-size: 22px;
    width: 55%;
    margin: auto;
}
.imput{
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
}
.container-contactos button{
    background-color:blue;
    color: white;
    border-radius: 28px;
    background-color: #1c4caa;
    color: #fff;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 10px;
}
.wave3-uatf{
    background-color: #fff;
    height: 320px;
}
.wave3{
    background: url(../img/wave3.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.container-servicios{
    background-color: black;
    height: 350px;  
}

.servicios{
    display: flex;
    justify-content: space-evenly; 
}
.content-servicios h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    width: 105%;
    padding-bottom: 2px;
    margin: auto;
}
.content-servicios p{
    color: #fff;
    font-size: 18px;
    width: 300px;
    
    margin: auto;
}
.footer{
    background-color: rgb(16, 16, 95);
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contacto.us{
    width: 40%;
    color:#fff;
}
.brand{
    font-weight: bold;
    font-size: 40px;
}
.brand p{
    font-weight: 500;
}
.social-red{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-red-icon{
    display: inline-block;
    margin-left: 20px;
    color:rgb(8, 8, 7);
    width: 60px;
    height: 60px;
    border:1px solid rgb(15, 177, 226);
    text-align: center;
    border-radius: 50%;
}
.social-red-icon i{
    font-size: 30px;
    line-height: 60px;
}
.social-red-icon:hover{
    background: #fff;
    color:rgb(21, 21, 22);
}